/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: rgb(30, 30, 30);
}

body {
    background-color: var(--background-color);
}

.btn-outline-success {
    --bs-btn-color: #00ff00;
    --bs-btn-border-color: #00ff00;
    --bs-btn-hover-bg: rgba(0, 255, 0, 0.3);
    --bs-btn-hover-border-color: #00ff00;
    --bs-btn-active-bg: #00ff00;
    --bs-btn-active-border-color: #00ff00;
    --bs-btn-disabled-color: #00ff00;
    --bs-btn-disabled-border-color: #00ff00;
}

.title-font {
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 255, 0);
}
  
.paragraph-font {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
}